# Ignorar carpetas de compilación de todas las subcarpetas
**/bin/
**/obj/

# Ignorar archivos de configuración de entorno local
.vs/
.vscode/
*.user

# Ignorar la base de datos SQLite local para que no sobrescriba la de Render
**/*.db
**/*.db-journal
**/*.db-shm
**/*.db-wal

# Archivos de sistema y logs
.git/
.gitignore
.dockerignore
Dockerfile
node_modules/